## Question No.1

### Import the required libraries and read the dataset. (1 point)

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
#Loading the Dataset
df = pd.read_csv('fifa.csv')
pd.options.display.max_columns = None
df.head(5)

In [ ]:
#copying the dataframe into new dataframe
df1 = df.copy()

## Question No. 2

### Check the first few samples, shape, info of the data and try to familiarize yourself with different features. (2 points)

In [ ]:
pd.get_dummies(df1)
df1.sample(5)

In [ ]:
df1.info()

In [ ]:
#This will tell how many rows and columns in the dataframe
df1.shape

## Question No. 3

### Drop the columns which you think redundant for the analysis. (1 point) [Hint: columns like 'Photo','Flag','Club Logo']

In [ ]:
#Dropping the non-required columns from the dataframe
df1 = df1.drop(columns = ['Photo','Flag','Club Logo'])
df1.head(5)

### Question No. 4

### Convert the columns "Value", "Wage", "Release Clause" to float datatype after getting rid of currency symbol and suffix. (6 points)
### - Note: When the record/entry has "M"(indicates millions) as suffix you need to multiply that value with 1000000
### - When the record/entry has "K"(indicates thousands) as suffix you need to multiply that value with 1000

In [ ]:
#Showing the columns for the operations of removing prefix and suffix
df1.loc[:,['Value','Wage','Release Clause']].head(5)

In [ ]:
##Removing the prefix from the columns
df1['Value'] = df1['Value'].str.removeprefix('€')
df1['Value']

In [ ]:
#Here replacing the suffix from the required value
df1['Value'] = df1['Value'].str.replace("M",'*1000000')
df1['Value'] = df1['Value'].str.replace("K",'*1000')
df1['Value']

In [ ]:
#Splitting the columns values and divide into two columns.
df1[['Value','ToMultiplied']] = df1['Value'].str.split('*', expand = True)

In [ ]:
#Converting both Columns to Numeric
df1['Value'] = pd.to_numeric(df1['Value'], errors = 'coerce')
print('Value Column Datatype:',df1['Value'].dtype)


df1['ToMultiplied'] = pd.to_numeric(df1['ToMultiplied'], errors = 'coerce')
print(df1['ToMultiplied'])

print('\nToMultiplied Column Datatype:',df1['ToMultiplied'].dtype)

In [ ]:
#Here multiplying the value column with the corresponding value of those Millions & K(Thousands) with 10000000 and 1000 respectively.
df1['Value'] =df1['Value'] * df1['ToMultiplied']
df1['Value']

In [ ]:
#here we can see the values has been changed in millions and thousands for column value.
df1.head()

#Operation on Wage Column

In [ ]:
df1['Wage'] = df1['Wage'].str.removeprefix('€')

#Replacing the suffix with corresponding values
df1['Wage'] = df1['Wage'].str.replace('K','*1000')
df1[['Wage','WageMultiplicationColumn']] = df1['Wage'].str.split('*',expand = True)
df1['Wage'] = pd.to_numeric(df1['Wage'], errors = 'coerce')
df1['WageMultiplicationColumn'] = pd.to_numeric(df1['WageMultiplicationColumn'], errors = 'coerce')
df1['Wage'] = df1['Wage'] * df1['WageMultiplicationColumn']
df1['Wage']

In [ ]:
df1.head()

In [ ]:
#Operation on Release Clause column
df1['Release Clause'] = df1['Release Clause'].str.removeprefix('€')

#Replacing the suffix with corresponding values
df1['Release Clause'] = df1['Release Clause'].str.replace('M','*1000000')
df1['Release Clause'] = df1['Release Clause'].str.replace('K','*1000')
df1[['Release Clause','ReleaseClauseMultiplicationColumn']] = df1['Release Clause'].str.split('*',expand = True)
df1['Release Clause'] = pd.to_numeric(df1['Release Clause'], errors = 'coerce')
df1['ReleaseClauseMultiplicationColumn'] = pd.to_numeric(df1['ReleaseClauseMultiplicationColumn'], errors = 'coerce')
df1['Release Clause'] = df1['Release Clause'] * df1['ReleaseClauseMultiplicationColumn']
df1['Release Clause']

In [ ]:
df1.head()

### Question No. 5

### Convert the column "Joined" into integer data type with keeping only the year. (2 points)

In [ ]:
print(df1['Joined'].head())
#Converting Joined Column to DateTime String format
df1['Joined'] = pd.to_datetime(df1['Joined'])
df1.dtypes.head(18)

In [ ]:
#Extracting only the year from the String Date and it will return dtype as object
x = df1['Joined']
df1['Joined'] = x.dt.strftime('%Y')

In [ ]:
df1['Joined'].head(30)

In [ ]:
df1['Joined'] = df1['Joined'].fillna(0)

In [ ]:
df1['Joined'] = df1['Joined'].astype('int')
df1.dtypes.head(18)

## Question No. 6

### Convert the column "Contract Valid Until" to pandas datetime type. (2 points)

In [ ]:
#Converting the column ('Contract Valid Until') to pandas datetime format

In [ ]:
df1['Contract Valid Until'].head(30)

In [ ]:
df1['Contract Valid Until'] =  pd.to_datetime(df1['Contract Valid Until'], format = 'mixed')
df1['Contract Valid Until'].head(35)

### Question No. 7

### The column 'Height' is in inches with a quotation mark, Convert to float with decimal points. (2 points)

In [ ]:
#Seeing the column before the operation
df1['Height'].head()

In [ ]:
#Replacing the height's ' with .
df1['Height'] = df1['Height'].str.replace('\'','.')
df1['Height'].head(10)

In [ ]:
#Converting the data from object to float
df1['Height'] = df1['Height'].astype('float')
df1['Height'].head(15)

## Question No. 8

### The column "Weight" has the suffix as lbs, remove the suffix and convert to float. (2 points)

In [ ]:
##Viewing the column before the operation like what to change etc.
df1['Weight'].head(10)

In [ ]:
#Removing the suffix 'lbs'
df1['Weight'] = df1['Weight'].str.removesuffix('lbs')
df1['Weight'].head(15)

In [ ]:
#Converting the data as float
df1[['Weight','Height']] = df1[['Weight','Height']].astype('float')
df1[['Weight','Height']].head(15)

In [ ]:
avgHei = df1['Height'].mean()
avgWei = df1['Weight'].mean()
print(f'Avg Height : {avgHei}')
print(f'Avg Weight: {avgWei}')

In [ ]:
df1['Height'] = df1['Height'].fillna(avgHei)
df1['Weight'] = df1['Weight'].fillna(avgWei)

In [ ]:
df1[['Weight','Height']].isnull().sum()

## Question No. 9

### Check for the percentage of missing values and impute them with appropriate imputation techniques. (4 points)

In [ ]:
(df1.isnull().sum()) / len(df1) * 100

In [ ]:
df1.isnull().sum()

In [ ]:
#Imputing the Columns
df1[['Club','Body Type','Position',
     'Jersey Number','Loaned From', 
     'Contract Valid Until','Joined']] = df1[['Club','Body Type','Position','Jersey Number',
                                     'Loaned From', 'Contract Valid Until','Joined']].fillna('Not Provided')

df1[['Club','Body Type','Position','Jersey Number','Joined','Loaned From', 'Contract Valid Until']].head()

In [ ]:
df1.isnull().sum()

In [ ]:
#Checking the percentage of Right and Left Percentage
(df1['Preferred Foot'].value_counts(normalize = True)) #/ len(df1['Preferred Foot'])

In [ ]:
#filling na with 75% with Right
df1['Preferred Foot'] = df1['Preferred Foot'].fillna('Right', limit = 36)

In [ ]:
#filling na with 25% with Left
df1['Preferred Foot'] = df1['Preferred Foot'].fillna('Left')

In [ ]:
df1['Preferred Foot'].isnull().sum()

In [ ]:
df1.isnull().sum()

In [ ]:
averageReputation = df1['International Reputation'].mean()
df1['International Reputation'] = df1['International Reputation'].fillna(averageReputation)
df1['International Reputation'].isnull().sum()

In [ ]:
df1.isnull().sum()

In [ ]:
releaseClauseMean = df1['Release Clause'].mean()
releaseClauseMean

In [ ]:
df1['Release Clause'] = df1['Release Clause'].fillna(releaseClauseMean)
df1['Release Clause'].isnull().sum()

In [ ]:
df1.columns

In [ ]:
avgValue = df1[['Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'
               ]].mean()

df1[['Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'
    ]]  =        df1[[
                    'Crossing', 'Finishing', 'HeadingAccuracy',
    'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'
       ]].fillna(avgValue)

df1[['Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'
       ]].isnull().sum()

In [ ]:
df1.isnull().sum()

In [ ]:
#dropping nonrequired columns
df1.drop(columns = ['ToMultiplied','WageMultiplicationColumn','ReleaseClauseMultiplicationColumn'], inplace = True)

In [ ]:
df1.isnull().sum()

In [ ]:
df1[['Value','Wage']].isnull().sum()

In [ ]:
avgValue = df1['Value'].mean()
avgWage = df1['Wage'].mean()

df1['Value'] = df1['Value'].fillna(avgValue)
df1['Wage'] = df1['Wage'].fillna(avgWage)

df1[['Value','Wage']].head(5)

In [ ]:
df1[['Value','Wage']].isnull().sum()

In [ ]:
df1.isnull().sum()

### Question No. 10

### Plot the distribution of Overall rating for all the players and write your findings. (2 points)

In [ ]:
df1['Overall'].plot(kind='hist')
plt.xlabel('Number of Ratings')
plt.show()

# Question No. 11

## Retrieve the names of top20 players based on the Overall rating.

In [ ]:
top20Players = df1.nlargest(20, ['Overall']) 
top20Players['Name']

## Question No. 12

### Generate a dataframe which should include all the information of the Top 20 players based on the Overall rating. (4 points)

In [ ]:
df1.nlargest(20, ['Overall'])

## Question No. 13

### What is the average "Age" and "Wage" of these top 20 players? (use the data frame created in the question 11) (2 points)

In [ ]:
avgTop20 = df1.nlargest(20, ['Overall'])

In [ ]:
avgTop20[['Age','Wage']].mean()

## Question No. 14

### Among the top 20 players based on the Overall rating, which player has the highest wage? Display the name of the player with his wage. (2 points)

In [ ]:
#First Way to do this Question

In [ ]:
highestWagePlayer = df1.nlargest(1, ['Overall'])

In [ ]:
highestWagePlayer[['Name','Wage']]

In [ ]:
#Another Way to do this Question

In [ ]:
maxWagePlayer = highestWagePlayer[['Name','Wage']]

In [ ]:
maxWage = maxWagePlayer['Wage'].max()

In [ ]:
maxWagePlayer.loc[maxWagePlayer['Wage'] == maxWage]

## Question No. 15

### Generate a dataframe which should include the "Player name", "Club Name", "Wage", and 'Overall rating'. (4 Points)
### - i) find the average Overall rating for each club.
### - ii) Display the average overall rating of Top10 Clubs using a plot

In [ ]:
df1[['Name','Club','Wage','Overall']].head()

In [ ]:
#i)--
df1.groupby(['Name','Club'])['Overall'].mean()

In [ ]:
#ii)--
color = ['r','g','b','k','cyan','magenta','purple','violet','pink','m']
avgOverallplottop10 = df1.groupby('Club')['Overall'].mean()
avgOverallplottop10.nlargest(10).plot(kind='bar',color=color)
plt.ylabel('Ratings From 0 to 100')
plt.xticks(rotation=80)
plt.title("Showing Average of Top 10 Club's Average")
plt.show()

## Question No. 16

## What is the relationship between age and individual potential of the player? Visualize the relationship with appropriate plot and Comment on the same. (2 points)

In [ ]:
plt.scatter(df1['Age'],df1['Potential'])
plt.title("Showing Relationship between Age and Potential")
plt.xlabel('Age')
plt.ylabel('Potential')
plt.show()

## Question No. 17

### Which features directly contribute to the wages of the players? Support your answer with a plot and a metric. (2 points) (hint: use potential, Overall, value, international reputation, and Release Clause)

In [ ]:
sns.heatmap(df1[['Potential','Overall','Value','International Reputation','Release Clause']], annot= True)
plt.show()

## Question No. 18

## Find the position in the pitch where the maximum number of players play and the position where the minimum number of players play? Display it using a plot. (2 points)

In [ ]:
minmax = df1['Position'].value_counts()
print(minmax)

minmax.iloc[[0,-1]].plot(kind='bar',color = ['g','b'])
#minmax[[0,-1]].plot(kind='bar')
plt.title ("\nShowing Maximum and Minimum Numbers of Players Playing based on the Body Position\n")
plt.ylabel('Maximum Number of Players Playing')
plt.xlabel ('Body Position of the Players')

plt.show()

## Question No. 19

### How many players are from the club 'Juventus' and the wage is greater than 200K? Display all the information of such players. (2 points)

In [ ]:
df1.loc[(df1['Club']=='Juventus') & (df1['Wage']>200000)]

## Question No. 20

### Generate a data frame containing top 5 players by Overall rating for each unique position. (2 Points)

In [ ]:
df1.nlargest(5,['Overall'])

## Question No.21

### What is the average wage one can expect to pay for the top 5 players in every position? (use the data frame created in Q19) (2 points)

In [ ]:
top5Player = df1.nlargest(5,['Wage'])
top5Player['Wage'].mean()